/**
 * @file
 * Import all settings.
 */
/**
*********************
* Colors
********************
**/
/** Add any additional color supplied in the style guide **/
/* Primary Colors */
/* Secondary Colors */
/* Text colors */
/* Grayscale colors */
/** Button & Link colors **/
/**
 * @file
 * Import all settings.
 */
/**
*********************
* Variables
********************
**/
/* Typography */
/* Transitions */
/* Container & spacings */
/** Button spacing **/
/* Border */
/* Breakpoints */
/**
 * @file
 * Import all settings.
 */
/**
 * @file
 * Mixins
 */
.speakers__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 275.5px !important;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 4px 10px 24px 0 rgba(0, 0, 0, 0.1019607843);
  padding-inline: 1.3rem;
  padding-block: 2.25rem;
}
.speakers__photo img {
  border-radius: 50%;
}
.speakers__name {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 700;
}
.speakers__designation {
  font-size: 1.125rem;
  font-weight: 600;
}
.speakers__organization {
  margin-block-start: 0.5rem;
  color: #6B6B6B;
  font-size: 1rem;
  font-weight: 400;
}
.speakers__name, .speakers__designation {
  margin-block-start: 1.3rem;
}
.speakers__bio {
  display: none;
}
