.speakers__card{
  width:275.5px !important;
}
.speakers__card{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  cursor:pointer;
  border-radius:10px;
  box-shadow:4px 10px 24px 0 rgba(0, 0, 0, 0.1019607843);
  padding-left:1.3rem;
  padding-right:1.3rem;
  padding-top:2.25rem;
  padding-bottom:2.25rem;
}
.speakers__photo img{
  border-radius:50%;
}
.speakers__name{
  margin:0;
  font-size:1.5rem;
  font-weight:700;
}
.speakers__designation{
  font-size:1.125rem;
  font-weight:600;
}
.speakers__organization{
  margin-top:0.5rem;
  color:#6B6B6B;
  font-size:1rem;
  font-weight:400;
}
.speakers__name, .speakers__designation{
  margin-top:1.3rem;
}
.speakers__bio{
  display:none;
}
